

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.nav {
	margin-left: 10%;
	
}

.welcomeimg {
	width: 100%;
	height: auto;
}

.navbar-header {
	color: yellow;
}

body {
	padding-top: 2.5%
}












