

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.nav {
	margin-left: 10%;
	
}

.welcomeimg {
	width: 100%;
	height: 400px;
}

.navbar-header {
	color: yellow;
}

.carouselSize {
	width: 100%;
}

.caro {
	margin-top: 3%
}

.navbar-times {
  font-size: 15px;

}

.footerstyle1 {
	float: left;
}

.footer {
	font-size: 1.5em
}
.footerstyle2 {
	float: right;
}









