

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.nav {
	position: fixed;
	margin-left: 15%;	
	
}

.welcomeimg {
	width: 100%;
	height: 400px;
}

.navbar-header {
	color: yellow;
}

.carouselSize {
	width: 100%;
	
}












